<h1>Homepage</h1>
<h2>All Posts</h2>

{{#each allPosts}}
<section class="post-box" id="{{id}}">
    <div class="home-title">
        <h2>{{title}}</h2>
    </div>
    <div class="home-created-at">
        <p>posted on {{createdAt}}</p>
    </div>
</section>
    {{/each}}

   
    <script src="/js/home.js"></script>