<h1>Homepage</h1>
<h2>All Posts</h2>

{{#each allPosts}}
<div class="post-box-box">

<section class="post-box" id="{{id}}">
    <h2>{{title}} posted {{createdAt}}</h2>
   
</section>
{{/each}}

</div>
<script src="/js/home.js"></script>