<h1>Login</h1>

<div>
    <h2>Login here!</h2>
    <form id="loginForm" class="authForm" action="/action_page.php">
        <input class="loginInfo" type="text" name="name" placeholder="Email.." id="loginEmail">
        <input class="loginInfo" type="password" name="password" placeholder="Password.." id="loginPassword">
        <button>Login</button>
    </form>
</div>
<script src="/public/js/login.js"></script>
