<h1>Signup</h1>

<div>
    <h2>Signup here!</h2>
    <form id="signupForm" class="authForm" action="/action_page.php">
        <input class="signupInfo" type="text" name="name" placeholder="Name.." id="signupName">
        <input class="signupInfo" type="text" name="email" placeholder="Email.." id="signupEmail">
        <input class="signupInfo" type="password" name="password" placeholder="Password.." id="signupPassword">
        <button>Signup</button>
    </form>
</div>
<script src="/js/signup.js"></script> 