*{
    margin: 0px;
}
header {
    height: fit-content;
    background: aqua;
    padding: 10px;
    
}
.tech-spot {
    padding: 10px;
    background-color: black;
    color: aquamarine;
    width: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px gray;
}
header.nav{
    float: left;
    width: 20vw;
    height: 20%;
    justify-content:space-between ;
    padding: 10px;
    color: black;
}
div.post-area{
    height: 70px;
    width: 300px;
    align-items:end;
    text-align: center;
    justify-content: center;

}
.profile {
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.post-card {
    height: fit-content;
    width: 300px;
    padding: 15px;
    justify-content: center;
    margin: 2px;
    text-align: center;
    border: 2px solid black;
    align-items: center;
    background: aquamarine;
}
.hide {
    display: none;
}
.post-box{
    height: 20px;
    width: 80vw;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px grey;
}
.home-created-at{
    float: right;

}
.home-title {
    float:left;
}
.all-posts{
    text-align: center;
    margin: auto;
}
.post-page{
  object-position: center;
   
}
.post {
    margin-left:10vw ;
    margin-right:10vw ;
    margin-top: 15px;

}
.description-box{
    margin-top: 10px;
    margin-left: 100px;
    height: fit-content;
    width: 40vw;
    text-align: center;
    border: 2px solid black;
    justify-content: center;
    padding: 5px;

}
.description-box h2{
    margin-bottom: 15px;
    border-top:1px dotted black ;

}
.description-box h3{
    font-style: italic ;
    margin-bottom: 10px;


}
.comment-form{
    margin-bottom: 5px;
    padding-bottom: 3px;
}
.comment-box{
    margin: 10px;
    border: 2px dashed gray;
    height: fit-content;
    width: 40vw;
    float: right;
    padding: 3px;
}
.comment-page{
    height: fit-content;
    width: 90vw;
    justify-content: center;
}